<!-- Header Start -->
<div class="container-fluid bg-blue py-5 mb-5 page-header">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h1 class="display-3 text-white animated slideInDown">Event</h1>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
  <h6 class="section-title bg-white text-center text-blue px-3">Event</h6>
  <h1 class="mb-5">Upcoming Events</h1>
</div>

<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-blue mb-4"></i>
            <h5 class="mb-3">Alumni Event 1</h5>
            <p>Alumni Workshop Kelas Teknologi Informasi</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-globe text-blue mb-4"></i>
            <h5 class="mb-3">Alumni Event 2</h5>
            <p>Alumni Talkshow Business Digital</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-home text-blue mb-4"></i>
            <h5 class="mb-3">Alumni Event 3</h5>
            <p>lumni Workshop Kelas Teknologi Informasi</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-blue mb-4"></i>
            <h5 class="mb-3">Alumni Event 4</h5>
            <p>Alumni Talkshow Business Digital</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-blue mb-4"></i>
            <h5 class="mb-3">Alumni Event 1</h5>
            <p>Alumni Workshop Kelas Teknologi Informasi</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-globe text-blue mb-4"></i>
            <h5 class="mb-3">Alumni Event 2</h5>
            <p>Alumni Talkshow Business Digital</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-home text-blue mb-4"></i>
            <h5 class="mb-3">Alumni Event 3</h5>
            <p>lumni Workshop Kelas Teknologi Informasi</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-blue mb-4"></i>
            <h5 class="mb-3">Alumni Event 4</h5>
            <p>Alumni Talkshow Business Digital</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-blue mb-4"></i>
            <h5 class="mb-3">Alumni Event 1</h5>
            <p>Alumni Workshop Kelas Teknologi Informasi</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-globe text-blue mb-4"></i>
            <h5 class="mb-3">Alumni Event 2</h5>
            <p>Alumni Talkshow Business Digital</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-home text-blue mb-4"></i>
            <h5 class="mb-3">Alumni Event 3</h5>
            <p>lumni Workshop Kelas Teknologi Informasi</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-blue mb-4"></i>
            <h5 class="mb-3">Alumni Event 4</h5>
            <p>Alumni Talkshow Business Digital</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="col-lg-10 col-md-">
      <h4 class="text-white mb-3">Contact</h4>
      <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Campus A: Jl. Situ Indah no.116, Cimanggis, Depok</p>
      <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Campus B: Jl. Raya Lenteng Agung No.20, Jagakarsa</p>
      <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 021 - 786 3191</p>
      <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@nurulfikri.ac.id</p>
      <div class="d-flex pt-2">
        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-dark btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
  </div>
</div>
