<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h1 class="display-3 text-white animated slideInDown">Portal Alumni</h1>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px">
        <div class="position-relative h-100">
          <img class="img-fluid position-absolute w-100 h-100" src="img/alumni-2.jpg" alt="" style="object-fit: cover" />
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
        <h6 class="section-title bg-white text-start text-blue pe-3">About Us</h6>
        <h1 class="mb-4">Welcome to Portal Alumni STT NF</h1>
        <p class="mb-4">Selamat Datang di Website Portal Alumni Sekolah Tinggi Teknologi Terpadu Nurul Fikri.</p>
        <p class="mb-4">
          Selamat datang di Portal Alumni STT Terpadu Nurul Fikri! Kami sangat senang menyambut Anda di website Portal Alumni Sekolah Tinggi Teknologi Terpadu Nurul Fikri (STT NF). Portal ini merupakan tempat bagi alumni STT NF untuk
          terhubung, berbagi informasi, dan menjalin hubungan yang erat dengan sesama alumni serta dengan institusi kami. Kami berharap portal ini dapat menjadi wadah yang bermanfaat bagi Anda untuk menjaga koneksi dengan almamater, berbagi
          pengalaman, serta mendapatkan informasi terbaru seputar kegiatan alumni dan berbagai kesempatan yang dapat meningkatkan karir dan pengembangan diri Anda. Terima kasih atas kunjungan Anda dan semoga Anda dapat merasakan manfaat
          dari keberadaan Portal Alumni STT NF ini. Selamat menjelajahi dan bergabunglah dalam komunitas alumni STT Terpadu Nurul Fikri! Salam, Tim Portal Alumni STT NF
        </p>
        <div class="row gy-2 gx-4 mb-4">
          <div class="col-sm-6">
            <p class="mb-0"><i class="fa fa-arrow-right text-blue me-2"></i>Alumni Event</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><i class="fa fa-arrow-right text-blue me-2"></i>Alumni News</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><i class="fa fa-arrow-right text-blue me-2"></i>Alumni Hall Of Fame</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><i class="fa fa-arrow-right text-blue me-2"></i>Alumni Schoolarship Information</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><i class="fa fa-arrow-right text-blue me-2"></i>Alumni Connectivity</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><i class="fa fa-arrow-right text-blue me-2"></i>Alumni Gallery</p>
          </div>
        </div>
        <a href="alumni" class="btn btn-sm btn-dark rounded-pill"> <i class="bi bi-info-circle"></i> detail </a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Event Start -->
<div style="margin-top: 5rem">
  <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title bg-white text-center text-blue px-3">Event</h6>
    <h1 class="mb-5">Upcoming Events</h1>
  </div>
</div>
<div class="row gy-2 gx-4 mb-4">
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <i class="fa fa-3x fa-graduation-cap text-blue mb-4"></i>
              <h5 class="mb-3">Alumni Event 1</h5>
              <p style="font-weight: bold">Alumni Workshop Kelas Teknologi Informasi</p>
              <p style="font-size: 0.7em">Sun, 11 February 2024</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <i class="fa fa-3x fa-globe text-blue mb-4"></i>
              <h5 class="mb-3">Alumni Event 2</h5>
              <p style="font-weight: bold">Alumni Talkshow Business Digital With Expert</p>
              <p style="font-size: 0.7em">Sun, 11 February 2024</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <i class="fa fa-3x fa-home text-blue mb-4"></i>
              <h5 class="mb-3">Alumni Event 3</h5>
              <p style="font-weight: bold">Alumni Workshop Kelas Teknologi Informasi</p>
              <p style="font-size: 0.7em">Sun, 11 February 2024</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <i class="fa fa-3x fa-book-open text-blue mb-4"></i>
              <h5 class="mb-3">Alumni Event 4</h5>
              <p style="font-weight: bold">Alumni Talkshow Sistem Informasi With Expert</p>
              <p style="font-size: 0.7em">Sun, 11 February 2024</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <a href="event" class="btn btn-sm btn-dark rounded-pill"> <i class="bi bi-info-circle"></i> detail </a>
    </div>
  </div>
  <!-- Event End -->

  <!-- News Start -->
  <div class="container-xxl py-5 category">
    <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-blue px-3">News</h6>
        <h1 class="mb-5">Alumni News</h1>
      </div>
      <div class="row g-3">
        <div class="col-lg-7 col-md-6">
          <div class="row g-3">
            <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
              <a class="position-relative d-block overflow-hidden" href="">
                <img class="img-fluid" src="img/alumni-2.jpg" alt="" />
                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
                  <h5 class="m-0">Alumni News 1</h5>
                  <small class="text-blue">Alumni Melanjutkan Study ke..</small>
                </div>
              </a>
            </div>
            <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
              <a class="position-relative d-block overflow-hidden" href="">
                <img class="img-fluid" src="img/alumni-3.jpg" alt="" />
                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
                  <h5 class="m-0">Alumni News 2</h5>
                  <small class="text-blue">Alumni Melanjutkan Karir ke..</small>
                </div>
              </a>
            </div>
            <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
              <a class="position-relative d-block overflow-hidden" href="">
                <img class="img-fluid" src="img/alumni-4.jpg" alt="" />
                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
                  <h5 class="m-0">Alumni News 3</h5>
                  <small class="text-blue">Alumni Melanjutkan Study ke..</small>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px">
          <a class="position-relative d-block h-100 overflow-hidden" href="">
            <img class="img-fluid position-absolute w-100 h-100" src="img/alumni-1.png" alt="" style="object-fit: cover" />
            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
              <h5 class="m-0">Alumni News 4</h5>
              <small class="text-blue">Alumni Melanjutkan Karir ke..</small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <a href="news" class="btn btn-sm btn-dark rounded-pill"> <i class="bi bi-info-circle"></i> detail </a>
    </div>
  </div>
  <!-- News Start -->

  <!-- Beasiswa Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-blue px-3">Beasiswa</h6>
        <h1 class="mb-5">Available Schoolarship</h1>
      </div>
      <div>
        <div class="container">
          <div class="row">
            <div class="col-lg">
              <div class="card team-item" style="max-width: 75em">
                <img src="img/beasiswa-1.png" class="card-img-top" style="max-width: 25%" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Beasiswa 1</h5>
                  <p class="card-text">Columbia University Schoolarship</p>
                  <p class="card-text-type">Beasiswa S2</p>
                </div>
                <div class="cta-section">
                  <div>LPDP</div>
                  <a href="beasiswa" class="btn btn-primary">detail</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Beasiswa End -->

  <!-- Alumni Hall Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-orange px-3">Alumni</h6>
        <h1 class="mb-5">Alumni Hall Of Fame</h1>
      </div>
      <div class="row g-4">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item bg-light">
            <div class="overflow-hidden">
              <img class="img-fluid" src="img/foto-alumni-1.jpg" alt="" />
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px">
              <div class="bg-light d-flex justify-content-center pt-2 px-1">
                <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="text-center p-4">
              <h5 class="mb-0">Alumni Name 1</h5>
              <small>Teknik Informatika 2020</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="team-item bg-light">
            <div class="overflow-hidden">
              <img class="img-fluid" src="img/foto-alumni-2.jpg" alt="" />
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px">
              <div class="bg-light d-flex justify-content-center pt-2 px-1">
                <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="text-center p-4">
              <h5 class="mb-0">Alumni Name 2</h5>
              <small>Sistem Informasi 2019</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="team-item bg-light">
            <div class="overflow-hidden">
              <img class="img-fluid" src="img/foto-alumni-3.jpg" alt="" />
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px">
              <div class="bg-light d-flex justify-content-center pt-2 px-1">
                <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="text-center p-4">
              <h5 class="mb-0">Alumni Name 3</h5>
              <small>Business Digital 2021</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
          <div class="team-item bg-light">
            <div class="overflow-hidden">
              <img class="img-fluid" src="img/foto-alumni-4.jpg" alt="" />
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px">
              <div class="bg-light d-flex justify-content-center pt-2 px-1">
                <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="text-center p-4">
              <h5 class="mb-0">Alumni Name 4</h5>
              <small>Teknik Informatika 2018</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item bg-light">
          <div class="overflow-hidden">
            <img class="img-fluid" src="img/foto-alumni-12.jpg" alt="" />
          </div>
          <div class="position-relative d-flex justify-content-center" style="margin-top: -23px">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
              <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">Alumni Name 1</h5>
            <small>Teknik Informatika 2020</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item bg-light">
          <div class="overflow-hidden">
            <img class="img-fluid" src="img/foto-alumni-13.jpg" alt="" />
          </div>
          <div class="position-relative d-flex justify-content-center" style="margin-top: -23px">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
              <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">Alumni Name 2</h5>
            <small>Sistem Informasi 2019</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item bg-light">
          <div class="overflow-hidden">
            <img class="img-fluid" src="img/foto-alumni-14.jpg" alt="" />
          </div>
          <div class="position-relative d-flex justify-content-center" style="margin-top: -23px">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
              <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">Alumni Name 3</h5>
            <small>Business Digital 2021</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item bg-light">
          <div class="overflow-hidden">
            <img class="img-fluid" src="img/foto-alumni-15.jpg" alt="" />
          </div>
          <div class="position-relative d-flex justify-content-center" style="margin-top: -23px">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
              <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-sm-square btn-dark mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">Alumni Name 4</h5>
            <small>Teknik Informatika 2018</small>
          </div>
        </div>
      </div>
      <div class="mt-3 mb-5 text-center">
        <a href="alumni" class="btn btn-sm btn-dark rounded-pill"> <i class="bi bi-info-circle"></i> detail </a>
      </div>
    </div>

    <!-- Alumni Hall End -->

    <!-- Alumni Gallery Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="section-title bg-white text-center text-orange px-3">Gallery</h6>
          <h1 class="mb-5">Moment of Alumni</h1>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <img src="img/alumni-1.png" alt="Foto 1" class="gallery-img" />
            </div>
            <div class="col-md-4">
              <img src="img/alumni-2.jpg" alt="Foto 2" class="gallery-img" />
            </div>
            <div class="col-md-4">
              <img src="img/alumni-3.jpg" alt="Foto 3" class="gallery-img" />
            </div>
            <div class="col-md-4">
              <img src="img/alumni-4.jpg" alt="Foto 3" class="gallery-img" />
            </div>
            <div class="col-md-4">
              <img src="img/alumni-1.png" alt="Foto 1" class="gallery-img" />
            </div>
            <div class="col-md-4">
              <img src="img/alumni-2.jpg" alt="Foto 2" class="gallery-img" />
            </div>
            <div class="col-md-4">
              <img src="img/alumni-3.jpg" alt="Foto 3" class="gallery-img" />
            </div>
            <div class="col-md-4">
              <img src="img/alumni-4.jpg" alt="Foto 3" class="gallery-img" />
            </div>
            <div class="col-md-4">
              <img src="img/alumni-1.png" alt="Foto 1" class="gallery-img" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3 text-center">
      <a href="alumni" class="btn btn-sm btn-dark rounded-pill"> <i class="bi bi-info-circle"></i> detail </a>
    </div>
  </div>
  <!-- Alumni Gallery End -->

  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
      <div class="col-lg-10 col-md-3">
        <h4 class="text-white mb-3">Contact</h4>
        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Campus A: Jl. Situ Indah no.116, Cimanggis, Depok</p>
        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Campus B: Jl. Raya Lenteng Agung No.20, Jagakarsa</p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 021 - 786 3191</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@nurulfikri.ac.id</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>

      <!-- Footer End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-dark btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
  </div>
</div>
