<!-- Header Start -->
<div class="container-fluid bg-blue py-5 mb-5 page-header">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h1 class="display-3 text-white animated slideInDown">News</h1>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
  <h6 class="section-title bg-white text-center text-blue px-3">News</h6>
  <h1 class="mb-5">Alumni News</h1>
</div>

<!-- News Start -->
<div class="container-xxl py-5 category">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-7 col-md-6">
        <div class="row g-3">
          <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
            <a class="position-relative d-block overflow-hidden" href="">
              <img class="img-fluid" src="img/alumni-2.jpg" alt="" />
              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
                <h5 class="m-0">Alumni News 1</h5>
                <small class="text-blue">Alumni Melanjutkan Study ke..</small>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
            <a class="position-relative d-block overflow-hidden" href="">
              <img class="img-fluid" src="img/alumni-3.jpg" alt="" />
              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
                <h5 class="m-0">Alumni News 2</h5>
                <small class="text-blue">Alumni Melanjutkan Karir ke..</small>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
            <a class="position-relative d-block overflow-hidden" href="">
              <img class="img-fluid" src="img/alumni-4.jpg" alt="" />
              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
                <h5 class="m-0">Alumni News 3</h5>
                <small class="text-blue">Alumni Melanjutkan Study ke..</small>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px">
        <a class="position-relative d-block h-100 overflow-hidden" href="">
          <img class="img-fluid position-absolute w-100 h-100" src="img/alumni-1.png" alt="" style="object-fit: cover" />
          <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
            <h5 class="m-0">Alumni News 4</h5>
            <small class="text-blue">Alumni Melanjutkan Karir ke..</small>
          </div>
        </a>
      </div>
      <div class="row g-3">
        <div class="col-lg-7 col-md-6">
          <div class="row g-3">
            <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
              <a class="position-relative d-block overflow-hidden" href="">
                <img class="img-fluid" src="img/alumni-4.jpg" alt="" />
                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
                  <h5 class="m-0">Alumni News 1</h5>
                  <small class="text-blue">Alumni Melanjutkan Study ke..</small>
                </div>
              </a>
            </div>
            <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
              <a class="position-relative d-block overflow-hidden" href="">
                <img class="img-fluid" src="img/alumni-1.png" alt="" />
                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
                  <h5 class="m-0">Alumni News 2</h5>
                  <small class="text-blue">Alumni Melanjutkan Karir ke..</small>
                </div>
              </a>
            </div>
            <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
              <a class="position-relative d-block overflow-hidden" href="">
                <img class="img-fluid" src="img/alumni-2.jpg" alt="" />
                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
                  <h5 class="m-0">Alumni News 3</h5>
                  <small class="text-blue">Alumni Melanjutkan Study ke..</small>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px">
          <a class="position-relative d-block h-100 overflow-hidden" href="">
            <img class="img-fluid position-absolute w-100 h-100" src="img/kampus-2.jpg" alt="" style="object-fit: cover" />
            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
              <h5 class="m-0">Alumni News 4</h5>
              <small class="text-blue">Alumni Melanjutkan Karir ke..</small>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- News Start -->

  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
      <div class="col-lg-10 col-md-3">
        <h4 class="text-white mb-3">Contact</h4>
        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Campus A: Jl. Situ Indah no.116, Cimanggis, Depok</p>
        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Campus B: Jl. Raya Lenteng Agung No.20, Jagakarsa</p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 021 - 786 3191</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@nurulfikri.ac.id</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <!-- Footer End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-dark btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
  </div>
</div>
